
.about1 {
    --background-color: #f4f4f4;
  }
  
  .about1 .content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 20px;
    background: rgba(232, 69, 69, 0.05);
    color: #844FC1;
    border-radius: 7px;
    display: inline-block;
  }
  
  .about1 .content h2 {
    font-weight: 700;
  }
  
  .about1 .content p:last-child {
    margin-bottom: 0;
  }
  
  .about1 .content .read-more {
    background: #844FC1;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .about1 .content .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .about1 .content .read-more:hover {
    background: #844FC1;
    padding-right: 19px;
  }
  
  .about1 .content .read-more:hover i {
    margin-left: 10px;
  }
  
  .about1 .icon-box {
    padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
    background-color: #fff;
  }
  
  .about1 .icon-box i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 0;
    transition: all 0.4s ease-out 0s;
    background-color: rgb(232, 69, 69, 0.05);
    color: #844FC1;
  }
  
  .about1 .icon-box h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .about1 .icon-box p {
    margin-bottom: 0;
  }
  
  .about1 .icon-box:hover i {
    background-color:#844FC1;
    color: #ffffff;
  }
  
  .about1 .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about1 .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: -40px;
  }
  
  @media (max-width: 768px) {
  
    .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
    .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
      margin-top: 0;
    }
  }
  /* Services Section - Home Page

------------------------------*/
#services{
.services .service-item {
    position: relative;
    padding-top: 40px;
  }
  
  .services .service-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(33, 37, 41, 0.1);
  }
  
  .services .service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #844FC1;
    border-right: 5px solid #ffffff;
  }
  
  .services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .services .service-item .icon i {
    color: rgba(33, 37, 41, 0.7);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
  }
  
  .services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(232, 69, 69, 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
  }
  
  .services .service-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .service-item .title a {
    color: #32353a;
  }
  
  .services .service-item .title a:hover {
    color: #844FC1;
    
  }
  
  .services .service-item .description {
    line-height: 24px;
    font-size: 14px;
  }
}

.faq .content h3 {
  font-weight: 400;
  font-size: 34px;
}

.faq .content p {
  font-size: 15px;
  color: rgba(33, 37, 41, 0.7);
}

.faq .faq-container .faq-item {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(33, 37, 41, 0.1);
  overflow: hidden;
}

.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 30px 0 0;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.faq .faq-container .faq-item h3 .num {
  color:#844FC1;
  padding-right: 5px;
}

.faq .faq-container .faq-item h3:hover {
  color: #844FC1;
}

.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
  margin-bottom: 0;
  overflow: hidden;
}

.faq .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
}

.faq .faq-container .faq-item .faq-toggle:hover {
  color:#844FC1;
}

.faq .faq-container .faq-active h3 {
  color: #844FC1;
}

.faq .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
  transform: rotate(90deg);
  color:#844FC1;
}

#jobsCard {
  cursor: pointer;
}

#jobsCard:hover h3 b {
  color:rgb(193, 16, 16); /* Change this to the desired text color on hover */
}

#viewAllBtn {
  color: black; /* Set the initial color of the button */
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff; /* Set the background color of the button */
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#jobsCard:hover #viewAllBtn {
  color:#fff; /* Change this to the desired button text color on hover */
  background-color:#844FC1;/* Change this to the desired button background color on hover */
}

.clients {
  padding: 10px 0;
}

.clients .client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clients .client-logo img {
  padding: 40px;
  max-width: 80%;
  transition: 0.3s;
  opacity: 0.5;
  filter: grayscale(100);
}

.clients .client-logo img:hover {
  filter: none;
  opacity: 1;
}

@media (max-width: 640px) {
  .clients .client-logo img {
    padding: 20px;
  }
}

.highlight-button:hover {
  /* Add your hover styles here */
  
  background-color: white; /* Change to your desired hover background color */
  color: red; /* Change to your desired hover text color */
  /* Add any other styles you want to change on hover */
}
.highlight-button {
 height:40px;
 width: 4cm;
  border: none;
  border-radius: 12px; /* Set the border for the normal state */
  /* Add any other styles for the normal state */
}