
.about1 {
    --background-color: #f4f4f4;
  }
  
  .about1 .content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 20px;
    background: rgba(232, 69, 69, 0.05);
    color: #844FC1;
    border-radius: 7px;
    display: inline-block;
  }
  
  .about1 .content h2 {
    font-weight: 700;
  }
  
  .about1 .content p:last-child {
    margin-bottom: 0;
  }
  
  .about1 .content .read-more {
    background: #844FC1;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .about1 .content .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .about1 .content .read-more:hover {
    background: #844FC1;
    padding-right: 19px;
  }
  
  .about1 .content .read-more:hover i {
    margin-left: 10px;
  }
  
  .about1 .icon-box {
    padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
    background-color: #fff;
  }
  
  .about1 .icon-box i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 0;
    transition: all 0.4s ease-out 0s;
    background-color: rgb(232, 69, 69, 0.05);
    color: #844FC1;
  }
  
  .about1 .icon-box h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .about1 .icon-box p {
    margin-bottom: 0;
  }
  
  .about1 .icon-box:hover i {
    background-color:#844FC1;
    color: #ffffff;
  }
  
  .about1 .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about1 .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: -40px;
  }
  
  @media (max-width: 768px) {
  
    .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
    .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
      margin-top: 0;
    }
  }
  /* Services Section - Home Page

------------------------------*/

.services .service-item {
    position: relative;
    padding-top: 40px;
  }
  
  .services .service-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(33, 37, 41, 0.1);
  }
  
  .services .service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #844FC1;
    border-right: 5px solid #ffffff;
  }
  
  .services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .services .service-item .icon i {
    color: rgba(33, 37, 41, 0.7);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
  }
  
  .services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(232, 69, 69, 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
  }
  
  .services .service-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .service-item .title a {
    color: #32353a;
  }
  
  .services .service-item .title a:hover {
    color: #844FC1;
    
  }
  
  .services .service-item .description {
    line-height: 24px;
    font-size: 14px;
  }


.faq .content h3 {
  font-weight: 400;
  font-size: 34px;
}

.faq .content p {
  font-size: 15px;
  color: rgba(33, 37, 41, 0.7);
}

.faq .faq-container .faq-item {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(33, 37, 41, 0.1);
  overflow: hidden;
}

.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 30px 0 0;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.faq .faq-container .faq-item h3 .num {
  color:#844FC1;
  padding-right: 5px;
}

.faq .faq-container .faq-item h3:hover {
  color: #844FC1;
}

.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
  margin-bottom: 0;
  overflow: hidden;
}

.faq .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
}

.faq .faq-container .faq-item .faq-toggle:hover {
  color:#844FC1;
}

.faq .faq-container .faq-active h3 {
  color: #844FC1;
}

.faq .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
  transform: rotate(90deg);
  color:#844FC1;
}

#jobsCard {
  cursor: pointer;
}

#jobsCard:hover h3 b {
  color:rgb(193, 16, 16); /* Change this to the desired text color on hover */
}

#viewAllBtn {
  color: black; /* Set the initial color of the button */
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff; /* Set the background color of the button */
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#jobsCard:hover #viewAllBtn {
  color:#fff; /* Change this to the desired button text color on hover */
  background-color:#844FC1;/* Change this to the desired button background color on hover */
}

.clients {
  padding: 10px 0;
}

.clients .client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clients .client-logo img {
  padding: 40px;
  max-width: 80%;
  transition: 0.3s;
  opacity: 0.5;
  filter: grayscale(100);
}

.clients .client-logo img:hover {
  filter: none;
  opacity: 1;
}

@media (max-width: 640px) {
  .clients .client-logo img {
    padding: 20px;
  }
}

.highlight-button:hover {
  /* Add your hover styles here */
  
  background-color: white; /* Change to your desired hover background color */
  color: red; /* Change to your desired hover text color */
  /* Add any other styles you want to change on hover */
}
.highlight-button {
  height: 40px;
  max-width: 100%; /* Ensure the button doesn't exceed its parent's width */
  border: none;
  border-radius: 12px;
}

 /* questions.html page css */

.blog-details .article {
  box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
  padding: 30px;
}

.blog-details .post-img {
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog-details .title {
  color: var(--secondary-color);
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin: 30px 0;
}

.blog-details .content {
  margin-top: 20px;
}

.blog-details .content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog-details .content blockquote {
  overflow: hidden;
  background-color: rgba(var(--default-color-rgb), 0.05);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog-details .content blockquote p {
  color: var(--default-color);
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog-details .content blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-details .meta-top {
  margin-top: 20px;
  color: rgba(var(--default-color-rgb), 0.6);
}

.blog-details .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog-details .meta-top ul li+li {
  padding-left: 20px;
}

.blog-details .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: rgba(var(--default-color-rgb), 0.6);
}

.blog-details .meta-top a {
  color: rgba(var(--default-color-rgb), 0.6);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog-details .meta-bottom {
  padding-top: 10px;
  border-top: 1px solid rgba(var(--default-color-rgb), 0.1);
}

.blog-details .meta-bottom i {
  color: rgba(var(--default-color-rgb), 0.6);
  display: inline;
}

.blog-details .meta-bottom a {
  color: rgba(var(--default-color-rgb), 0.6);
  transition: 0.3s;
}

.blog-details .meta-bottom a:hover {
  color: var(--primary-color);
}

.blog-details .meta-bottom .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog-details .meta-bottom .cats li {
  display: inline-block;
}

.blog-details .meta-bottom .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog-details .meta-bottom .tags li {
  display: inline-block;
}

.blog-details .meta-bottom .tags li+li::before {
  padding-right: 6px;
  color: var(--default-color);
  content: ",";
}

.blog-details .meta-bottom .share {
  font-size: 16px;
}

.blog-details .meta-bottom .share i {
  padding-left: 5px;
}

.blog-details .sidebar {
  padding: 30px;
  box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
}

.blog-details .sidebar .sidebar-title {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.blog-details .sidebar .sidebar-item+.sidebar-item {
  margin-top: 40px;
}

.blog-details .sidebar .search-form form {
  background: var(--background-color);
  border: 1px solid rgba(var(--default-color-rgb), 0.3);
  padding: 3px 10px;
  position: relative;
}

.blog-details .sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
  background-color: var(--background-color);
  color: var(--default-color);
}

.blog-details .sidebar .search-form form input[type=text]:focus {
  outline: none;
}

.blog-details .sidebar .search-form form button {
  background: var(--primary-color);
  color: var(--background-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.blog-details .sidebar .search-form form button i {
  line-height: 0;
}

.blog-details .sidebar .search-form form button:hover {
  background: rgba(var(--primary-color-rgb), 0.8);
}

.blog-details .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog-details .sidebar .categories ul li+li {
  padding-top: 10px;
}

.blog-details .sidebar .categories ul a {
  color: rgba(var(--default-color-rgb), 0.8);
  transition: 0.3s;
}

.blog-details .sidebar .categories ul a:hover {
  color: var(--primary-color);
}

.blog-details .sidebar .categories ul a span {
  padding-left: 5px;
  color: rgba(var(--default-color-rgb), 0.5);
  font-size: 14px;
}

.blog-details .sidebar .recent-posts .post-item {
  display: flex;
  margin-top: 15px;
}

.blog-details .sidebar .recent-posts img {
  width: 80px;
  margin-right: 15px;
}

.blog-details .sidebar .recent-posts h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.blog-details .sidebar .recent-posts h4 a {
  color: var(--default-color);
  transition: 0.3s;
}

.blog-details .sidebar .recent-posts h4 a:hover {
  color: var(--primary-color);
}

.blog-details .sidebar .recent-posts time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: rgba(var(--default-color-rgb), 0.5);
}

.blog-details .sidebar .tags {
  margin-bottom: -10px;
}

.blog-details .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog-details .sidebar .tags ul li {
  display: inline-block;
}

.blog-details .sidebar .tags ul a {
  color: rgba(var(--default-color-rgb), 0.7);
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid rgba(var(--default-color-rgb), 0.4);
  display: inline-block;
  transition: 0.3s;
}

.blog-details .sidebar .tags ul a:hover {
  color: var(--background-color);
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
}

.blog-details .sidebar .tags ul a span {
  padding-left: 5px;
  color: rgba(var(--default-color-rgb), 0.4);
  font-size: 14px;
}

.blog-details .blog-author {
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
}

.blog-details .blog-author img {
  max-width: 120px;
  margin-right: 20px;
}

.blog-details .blog-author h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 0;
  color: rgba(var(--default-color-rgb), 0.8);
}

.blog-details .blog-author .social-links {
  margin: 0 10px 10px 0;
}

.blog-details .blog-author .social-links a {
  color: rgba(var(--default-color-rgb), 0.4);
  margin-right: 5px;
}

.blog-details .blog-author p {
  font-style: italic;
  color: rgba(var(--default-color-rgb), 0.7);
  margin-bottom: 0;
}

.blog-details .comments {
  margin-top: 30px;
}

.blog-details .comments .comments-count {
  font-weight: bold;
}

.blog-details .comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog-details .comments .comment .comment-img {
  margin-right: 14px;
}

.blog-details .comments .comment .comment-img img {
  width: 60px;
}

.blog-details .comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}

.blog-details .comments .comment h5 a {
  font-weight: bold;
  color: var(--default-color);
  transition: 0.3s;
}

.blog-details .comments .comment h5 a:hover {
  color: var(--primary-color);
}

.blog-details .comments .comment h5 .reply {
  padding-left: 10px;
  color: rgba(var(--default-color-rgb), 0.8);
}

.blog-details .comments .comment h5 .reply i {
  font-size: 20px;
}

.blog-details .comments .comment time {
  display: block;
  font-size: 14px;
  color: rgba(var(--default-color-rgb), 0.6);
  margin-bottom: 5px;
}

.blog-details .comments .comment.comment-reply {
  padding-left: 40px;
}

.blog-details .comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
}

.blog-details .comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog-details .comments .reply-form p {
  font-size: 14px;
}

.blog-details .comments .reply-form input {
  background-color: var(--background-color);
  color: var(--default-color);
  border: 1px solid rgba(var(--default-color-rgb), 0.3);
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 10px;
}

.blog-details .comments .reply-form input:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.blog-details .comments .reply-form textarea {
  background-color: var(--background-color);
  color: var(--default-color);
  border: 1px solid rgba(var(--default-color-rgb), 0.3);
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
  height: 120px;
}

.blog-details .comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.blog-details .comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog-details .comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--contrast-color);
}

.blog-details .comments .reply-form .btn-primary:hover {
  color: var(--contrast-color);
  background-color: rgba(var(--primary-color-rgb), 0.8);
}