<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Haegl InterviewEdge</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/static/assets/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet' />

  <link rel="stylesheet" href="/static/assets/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
</head>
<style>
    .form-container {
  display: none;
  position: fixed;
  top: 6;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #faf9f9;
  overflow-x: hidden;
  transition: 0.5s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.form-container1 {
  display: none;
  position: fixed;
  top: 6;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #faf9f9;
  overflow-x: hidden;
  transition: 0.5s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.form-content {
  padding: 20px;
}

/* Basic styling for form elements */
.form-group {
  margin-bottom: 20px;
}

/* Style for the 'Upload Resume' label */
label[for="resume"] {
  display: block;
  margin-bottom: 5px;
  
}

/* Style for input fields */
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

/* Hover effect for input fields */
.form-control:hover {
  border-color: #999;
}

/* Focus effect for input fields */
.form-control:focus {
  outline: none;
  border-color: dodgerblue;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

/* Style for submit button */
.auth-form-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.auth-form-btn:hover {
  background-color: #007acc;
}

/* Additional styling for links */
.auth-link {
  text-decoration: none;
  color: black;
}

.auth-link:hover {
  text-decoration: underline;
}
.close-btn {
    cursor: pointer;
}
</style>
<body>
  <div class="row" id="proBanner">

  </div>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">

    <h5 style="color: white; font-family: 'Arial', sans-serif; font-weight: bold;">InterviewEdge</h5>

    <!-- Other content here -->

          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/static/assets/images/logo-mini.svg" alt="logo"/></a>

        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              
              <span class="nav-profile-name">Admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">

              <a href="/logout" class="dropdown-item">
                <i class="typcn typcn-eject text-primary"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-date dropdown">
       <a class="nav-link d-flex justify-content-center align-items-center" href="javascript:;" id="calendarButton">
           <h6 class="date mb-0">Today: {{today_date}}</h6>
           <i class="typcn typcn-calendar"></i>
       </a>
   </li>


        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <div id="calendarModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeCalendar">&times;</span>
            <div id="calendar"></div>
        </div>
    </div>

    <!-- partial -->
    <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
      <div class="navbar-links-wrapper d-flex align-items-stretch">
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-calendar-outline"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-mail"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-folder"></i></a>
        </div>
        <div class="nav-link">
          <a href="javascript:;"><i class="typcn typcn-document-text"></i></a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item ml-0">
            <h4 class="mb-0">Dashboard</h4>
          </li>
          <li class="nav-item">
            <div class="d-flex align-items-baseline">
              <p class="mb-0">Home</p>
              <i class="typcn typcn-chevron-right"></i>
              <p class="mb-0">Admin Dashboard</p>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

        </ul>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
     
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="\admin_db">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span>

            </a>
          </li>
          
         
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Interview Questions</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-lg-16 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">List of Companies</h3>
                    <div class="row">
                        <div class="col-md-3">
       
            <button  id="applyButton"  type="button" class="btn btn-primary mr-2">+ Company</button>
        
    </div>
                  
                  <div class="col-md-6">
                      <div class="input-group">
                        <form class=""id="searchForm" >
                    <div class="input-group">
                        <input type="text" name="search_query" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="search" value="{{ request.GET.search_query }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="search">
                                <i class="typcn typcn-zoom"></i>
                            </button>
                            <a href="{% url 'add_interview_question' %}">
                                <button class="btn btn-outline-secondary" type="button" id="refresh">
                                    <i class="typcn typcn-refresh"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
              
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                      // Function to handle search functionality
                      function performSearch() {
                          const searchInput = document.querySelector('input[name="search_query"]');
                          const searchText = searchInput.value.toLowerCase();
                          const tableRows = document.querySelectorAll('#dataTable tbody tr');
              
                          tableRows.forEach(row => {
                              const rowData = row.textContent.toLowerCase();
                              if (rowData.includes(searchText)) {
                                  row.style.display = ''; // Show the row if it contains the search text
                              } else {
                                  row.style.display = 'none'; // Hide the row if it doesn't match the search text
                              }
                          });
                      }
              
                      // Event listener for form submission
                      const searchForm = document.getElementById('searchForm');
                      searchForm.addEventListener('submit', function(event) {
                          event.preventDefault(); // Prevent form submission
                          performSearch(); // Call the search function
                      });
              
                      // Optional: Event listener for real-time search as the user types
                      const searchInput = document.querySelector('input[name="search_query"]');
                      searchInput.addEventListener('input', performSearch);
                  });
              </script>
                      </div>
                  </div>
              </div>
                    <p class="card-description">
              
                    </p>
                    <div class="table-responsive">
                      <table class="table table-hover" id="dataTable">
                        <thead>
                          <tr>
              
                            <th>id</th>
                            <th>Company name</th>
                            <th>Action</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                            {% for x in data %}
                          <tr>
                            <td>{{x.id}}</td>
                            <td>{{x.company_name}}</td>
                            <td><button id="addQuestion" class="btn btn-secondary approve-btn add-question-btn" data-id="{{ x.id }}">Add Question</button>
                            </td>
                            

                          </tr>
              {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="form-container">
            <div class="form-content">
              <span class="close-btn">&times;</span>
              <h5 class="card-title">List of Companies</h5>
              <form action="{% url 'add_top_company' %}" enctype="multipart/form-data" id="applicationForm" class="pt-3" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                    <input type="text" name="company_name" required="" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Company Name">
                    </div>
                    <div class="form-group">
                        <label for="resume">Company Logo</label>
                        <input type="file" name="company_logo" required="" class="form-control form-control-lg" id="resume" >
                    </div>
                    
                    
                    
                    <div class="mt-3">
                    <button type="submit"class="btn btn-primary mr-2"name="button">Submit</button>
                    </div>
                   
        
                    
                </form>
            </div>
          </div>
          <script>
          document.getElementById('applyButton').addEventListener('click', function() {
            document.querySelector('.form-container').style.display = 'block';
            document.querySelector('.form-container').style.right = '0';
          });
          
          document.querySelector('.close-btn').addEventListener('click', function() {
            document.querySelector('.form-container').style.right = '-400px';
          });
        </script>

         <div class="form-container1">
            <div class="form-content">
                <span class="close-btn">&times;</span>
              <h5 class="card-title">List of Companies</h5>
              <form action="{% url 'add_questions' %}" enctype="multipart/form-data" id="applicationForm" class="pt-3" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" id="companyId" name="companyId" value="">

                        <label for="question">Question</label>
                        <textarea class="form-control form-control-lg" name="question" id="question" cols="30" rows="3"></textarea>
                   
                    </div>
                    <div class="form-group">
                        <label for="question">Answer</label>
                        <textarea class="form-control form-control-lg" name="answer" id="question" cols="30" rows="3"></textarea>
                   
                    </div>
                    <div class="mt-3">
                    <button type="submit"class="btn btn-primary mr-2"name="button">Submit</button>
                    </div>
                </form>
            </div>
          </div>
         <!-- Your HTML content -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
  document.getElementById('addQuestion').addEventListener('click', function() {
    const companyId = this.getAttribute('data-id');
    console.log(companyId)
    document.querySelector('#companyId').value = companyId;
    document.querySelector('.form-container1').style.display = 'block';
    document.querySelector('.form-container1').style.right = '0';
  });

  // Event delegation to handle click on close-btn
  document.addEventListener('click', function(event) {
    if (event.target.classList.contains('close-btn')) {
      document.querySelector('.form-container1').style.right = '-400px';
    }
  });
});

  </script>
  

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">



        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/static/assets/js/off-canvas.js"></script>
  <script src="/static/assets/js/hoverable-collapse.js"></script>
  <script src="/static/assets/js/template.js"></script>
  <script src="/static/assets/js/settings.js"></script>
  <script src="/static/assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/assets/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
