{% extends 'user_home.html' %}
{% block content %}
<link href="/static/assets2/css/specific.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<style media="screen">
	.header {
	  display: flex;
	  align-items: center;
	}

	.logo {
	  width: 40px; /* Adjust the width of the logo as needed */
	  height: auto; /* Maintain aspect ratio */
	  margin-right: 10px; /* Adjust the space between the logo and text */
	}

	.image-box {
    width: 50%;
	margin-left: 35px; /* Set the box width to half of the container */
    float: left; /* Align the box to the left */
    box-sizing: border-box; /* Include padding and borders in the width */
    position: relative; /* Set position to relative */
}

.image-box img {
    width: 130px; /* Make the image fill the entire box */
    height: 120px; /* Ensure the image doesn't have any unwanted spaces */
    display: block; /* Ensure block-level display */
    position: absolute; /* Set position to absolute */
    top: 40px; /* Adjust the distance from the top as needed */
}

.bg-3 {
  background: url("/{{ info.cover_image }}");
  background-size: cover;
  background-repeat: no-repeat;
}
.heading-container {
    display: flex;
}

.heading-item {
    margin-right: 50px;
	font-weight: 600; /* Adjust spacing between headings */
}
.heading-item.active {
    color: #844FC1;
    border-bottom: 3px solid #844FC1;
}

/* Style the anchor tag (optional) */
.heading-link {
    text-decoration: none;
}

.salary-job li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between the items as needed */
}
/* Link Styles */
.apply-now {
    color: #844FC1; /* Purple color */
    text-decoration: none;
	font-weight: 700;
    transition: color 0.3s ease; /* Smooth color transition */
}

.apply-now:hover {
    color: black; /* Darker purple color on hover */
}

</style>
<section class="hero-area bg-3 text-center overly mb-4">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div data-aos="fade-up" data-aos-delay="100" class="content-block">
					
				</div>
				<div class="image-box">
					<img width="20px" height="100px" src="/{{obj.profile}}" alt="Your Image">
				</div>				
			</div>
		</div>
		
	</div> <br> <br> <br> <br>
  
	<!-- Container End -->
</section>

<section class="blog single-blog section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<article class="single-post">
					<div class="header">
	 
	  <h2 style="margin-top:-27px;">{{obj.first_name}}</h2>
	  
	</div>
	<p style="font-size: large;">"{{info.tag_line}}"</p>
	<p style="font-size:16px; margin-top: -20px;"> {{info.company_service_sector}}</p>
					
	<div class="heading-container">
		<a href="#" class="heading-link"><h3 class="heading-item active" data-target="overview">Overview</h3></a>
		<a href="#" class="heading-link"><h3 class="heading-item" data-target="join-us">Why Join Us</h3></a>
	</div> <hr>
	
	<div class="content" id="overview-content">
		<!-- Content for Overview -->
		<p>{{obj.about}}</p>
		<img class="img-fluid" src="/{{info.other_image1}}" alt="">
	</div>
	
	<div class="content" id="join-us-content" style="display: none;">
		<!-- Content for Why Join Us -->
		<p>{{info.why_us}}</p>
		<img src="/{{info.other_image2}}" alt="">
	</div>
	<ul class="category-list">
							
		<li><i class="fa fa-map-marker"></i>  {{obj.address}} <br> {{ obj.city }} {{ obj.state }} {{obj.country}}</li>
		


<ul>
	
	
					  <hr>
					
					<ul class="social-circle-icons list-inline">
						{% if info.linkedin_url != "linkedin" %}
						<li class="list-inline-item text-center"><a class="fa fa-linkedin" href="{{linkedin_url}}"></a></li>
						{% endif %}
						{% if info.facebook_url != "facebook" %}
						<li class="list-inline-item text-center"><a class="fa fa-facebook" href="#"></a></li>
						{% endif %}
						{% if info.instagram_url != "instagram" %}
						<li class="list-inline-item text-center"><a class="fa fa-instagram" href="#"></a></li>
						{% endif %}

					</ul>
				</article>

			</div>
			<div class="col-lg-4">
				<div class="sidebar">
					<!-- Search Widget -->

					<!-- Category Widget -->
					<div class="widget category">
						<!-- Widget Header -->
						<h5 class="widget-header">Job Vacancies</h5>
						<ul class="category-list">
							{% if obj.user_type == 'Company' %}
	    {% for job in jobs %}
	        <h4>{{ obj.company_name }}</h4>
	        <ul>
	            <li><a href="{% url 'user_single_job' job_id=job.id u_id=job.company_id_id  %}">{{ job.designation }}<span class="float-right">{{ job.no_of_vacancy }}</span></a></li>
	            <!-- Add more job details from JobDetails model if needed -->
	        </ul>
	    {% endfor %}
	{% else %}
	    {% for company, job_list in company_jobs_dict.items %}
	        <h4>{{ company }}</h4>
	        {% for job in job_list %}
	            <ul>
	                <li>{{ job.designation }}<span class="float-right">{{ job.no_of_vacancy }}</span></li>
	                <!-- Add more job details from AgencyJobDetails model if needed -->
	            </ul>
	        {% endfor %}
	    {% endfor %}
	{% endif %}
						</ul>
					</div>
					{% for x in display_jobs %}
					<div class="widget category">
						<!-- Widget Header -->
						<h5 class="widget-header">{{x.designation}}</h5>
						<ul class="category-list">
							
							<li><i class="fa fa-graduation-cap"></i> {{ x.qualification }}</li>
							<ul class="salary-job">
								<li><i class="fa fa-rupee"></i> {{x.salary}}</li>
								<li><i class="fa fa-briefcase"></i> {{x.job_type}}</li>
							</ul>
							<li><i class="fa fa-map-marker"></i> {{ x.location }} {{x.state}} {{x.country}}</li>
							
							<a href="/user_single_job/{{x.id}}/{{obj.id}}" class="apply-now">Apply now</a>


	        <ul>
	           
	            <!-- Add more job details from JobDetails model if needed -->
	        </ul>
	    
	   
	        <h4>{{ company }}</h4>
	       
	            <ul>
	                <li>{{ job.designation }}<span class="float-right">{{ job.no_of_vacancy }}</span></li>
	                <!-- Add more job details from AgencyJobDetails model if needed -->
	            </ul>
	       
						</ul>
					</div>
					{% endfor %}
					<!-- Archive Widget -->

				</div>
				
			</div>
		</div>
	</div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const headingItems = document.querySelectorAll('.heading-item');
    const contents = document.querySelectorAll('.content');
    
    headingItems.forEach(item => {
        item.addEventListener('click', function(event) {
            event.preventDefault();
            const target = this.getAttribute('data-target');
            
            contents.forEach(content => {
                content.style.display = 'none';
            });
            
            document.getElementById(`${target}-content`).style.display = 'block';
            
            headingItems.forEach(heading => {
                heading.classList.remove('active');
            });
            
            this.classList.add('active');
        });
    });
    
    // Set the Overview content as active by default
    document.getElementById('overview-content').style.display = 'block';
});

</script>
<!--============================
=            Footer            =
=============================-->

{% endblock %}
